body {
    font-family: Palatino, serif;
}

ul.controls {
    list-style-type: none;
    padding-left:0;
}

ul.textcontrols label {
    display:inline-block;
    width:8em;
}

.docControl.error {
    color: red;
    border-color: red;
}

.property-controls {
    float:right;
}

.main-text {
    resize: none;
    width: 7in;
    height: 9in;
}
