{{ define "ContentCss" }}
  <link rel="stylesheet" type="text/css" href="/static/css/content.css" />
{{ end }}
{{ define "ContentScripts" }}
    <script data-main="/static/scripts/pdfmaker.js" src="/static/scripts/lib/require.js"></script>
{{ end }}

{{ define "Content" }}
<div>
  <ul class="controls textcontrols">
    <li>
      <label for="fonts">Fonts</label>
      <select id="fonts" name="font">
          {{ range .fonts }}<option>{{ . }}</option>{{ end }}
      </select>
    </li>
  </ul>
  <div id="content-div"></div>
</div>
{{ end }}

