{{ define "ContentCss" }}
  <link rel="stylesheet" type="text/css" href="/static/css/content.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui/jquery-ui-1.8.10.custom.css" />
{{ end }}
{{ define "ContentScripts" }}
    <script id="script-defaults">
      var availableFonts = {{ .fonts }};
      var defaultDoc = {{ .defaultDoc }};
      var lengthRE = new RegExp ({{ .lengthRE }});
    </script>
    <script data-main="/static/scripts/pdfmaker.js" src="/static/scripts/lib/require.js"></script>
{{ end }}

{{ define "Content" }}
<div>
  <div id="content-div"></div>
</div>
{{ end }}

